@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
  --background: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
